{% extends "core/base.html" %}
{% block title %}Products{% endblock %}

{% block content %}
<h1>Products</h1>

{% if user.is_staff %}
    <a href="{% url 'product_create' %}" class="btn btn-primary mb-3">Add Product</a>
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Active</th>
            {% if user.is_staff %}
                <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td><a href="{% url 'product_detail' product.slug %}">{{ product.name }}</a></td>
            <td>{{ product.price }} {{ product.currency }}</td>
            <td>{{ product.is_active }}</td>
            {% if user.is_staff %}
            <td>
                <a href="{% url 'product_edit' product.pk %}" class="btn btn-sm btn-warning">Edit</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
